
@model Theatre.Models.Show

<h2>Are you sure you want to delete @Model.ShowName?<h2>

<h4>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}

<button>@Html.ActionLink("Back to List", "Index")</button>
</h4>